<div class="card">

  <div class="card-image">
    <img src="<%= item.link_to_pic %>" class="materialboxed">
    <span class="card-title" style="color:black; font-weight: bold" ;>
      <%= item.name %>
    </span>
    <% if (item.sold) { %> <a class="btn btn-floating btn-large red halfway-fab">sold</a>
      <% } %>
  </div>

  <div class="card-content">
    <p>
      By: seller id to change to name<%= item.seller_id %><br>
        <%= item.description %><br>
          <%= (item.price_in_cents/100).toLocaleString("en-US", {style:"currency", currency:"USD"}) %><br>
    </p>

    <p><a href="/items/<%= item.id %>">Click for Details</a><br></p>

    <% for (let cat of item.category_names) { %>
      <span class="new badge" data-badge-caption="<%= cat%>"></span>
      <% } %>
        <hr>

  </div>

</div>


<!-- This script is supposed to allow the pictures to have a szoom function, but its not working? -->
<!-- <script>
    // document.addEventListener("DOMContentLoaded", function(){
      const gallery = document.querySelectorALL('.materialboxed');
      M.Materialbox.init(gallery,{})

  </script> -->
