<!DOCTYPE html>
<html lang="en">
<head>

  <title>Item Page for Seller</title>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" /> -->

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  <%- include('partials/_head.ejs'); %>
</head>

<body>
  <%- include('partials/_header') %>
  <div class="container">
  <%- include('partials/_card_for_item_page.ejs', {item}); %>

<form method="post" action="/items/<%= id %>/delete">
  <!-- use <%= id%> to post to the returned product id! -->
  <button type="submit" class="waves-effect waves-light btn">delete</button>
</form>

<% if(!item.sold) {%>
<form method="post" action="/items/<%= id %>/sold">
  <button typt="submit" class="waves-effect waves-light btn">Change to Sold</button>
</form>
<% } else { %>
<form method="post" action="/items/<%= id %>/sold">
  <button typt="submit" class="waves-effect waves-light btn">Change to Not Sold</button>
</form>
<% } %>
</div>
</body>

</html>
