<!DOCTYPE html>
<html lang="en">

<head>
  <title>Item Page</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" /> -->

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <%- include('partials/_head.ejs'); %>
</head>

<body>
  <%- include('partials/_header') %>
  <div class="container">
    <%- include('partials/_card_for_item_page.ejs', {item}); %>


  <form method="post" action="/items/<%= id %>/like">
  <button class="waves-effect waves-light btn" type="submit">Like</button>
  </form>

      <div class="row">
        <form class="col s12" method="POST" action="<%= id %>/message">
          <div class="row">
            <div class="input-field col s6">
              <a href = "mailto: abc@example.com">Send Email</a>
              <!-- <i class="material-icons prefix">mode_edit</i>
               <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
               <label for="icon_prefix2">Write message here...</label>
               <button type="submit">Send Message</button>-->
            </div>
          </div>
        </form>
      </div>

    </div>
</body>

</html>
