<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= userData.name %>'s Profile
  </title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" /> -->
  <!-- <link rel="stylesheet" href="/vendor/border-box.css" /> -->
  <link rel="stylesheet" href="/styles/cards.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <!-- <link rel="stylesheet" href="/styles/layout.css" /> -->


  <script src="https://kit.fontawesome.com/ba60cfc2d9.js" crossorigin="anonymous"></script>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="/scripts/profile.js"></script>

  <%- include('partials/_head.ejs'); %>
</head>


<body>
  <header>
    <%- include('partials/_header.ejs'); %>
  </header>


  <div class="profile user-info">
    <h1>Profile Page</h1>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card horizontal">
            <!-- <h2 class="header"><%= userData.name %></h2> -->
            <div class="card-image">
              <img src="http://placekitten.com/g/200/300" alt="wheres my pic?">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <h2>
                  <%= userData.name %>
                </h2>
                <p>
                  <%= userData.email %>
                </p>
              </div>
              <div class="card-action">
                <a href="auth/login"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="favorites">
  <h4 style="text-align:center;">My Favourites</h4><hr/>

    <!-- to be hidden if there are favourites -->
    <% if (favoritesData.length < 1 || favoritesData==undefined) { %>
      <h5>You have no Favourites yet. 🤷 </h5>

      <!-- to be hidden if user has no products -->
      <% } else { %>
        <div class="container">
          <div class="row"></div>
          <% for (let fav of favoritesData) { if (!fav.is_deleted) { %>

            <div class="col 14 m4 s12">
              <div class="card">

                <div class="card-image">
                  <img src="<%= fav.link_to_pic %>" class="materialboxed">
                  <span class="card-title" style="color:black; font-weight: bold;">
                    <%= fav.product_name %>
                  </span>
                  <a class="btn btn-floating halfway-fab"><i class="fa-solid fa-bars"></i></a>
                </div>

                <div class="card-content">
                  <% for (let cat of categoryData) { %>
                  <span class="new badge" data-badge-caption="<%= cat.name%>"></span>
                  <% } %>
                  <p>
                    <%= fav.description %>
                  </p>
                  <p>
                    <%= (fav.price_in_cents/100).toLocaleString("en-US", {style:"currency", currency:"USD"}) %>
                  </p>
                  <p><a href="/auth/login">This is a link to the Indv item</a></p>
                </div>

              </div>
            </div>
          <% }} %>
          </div>
        </div>
      <% } %>

  </div>
  <br>
  <br>
  <br>



  <div class="profile my-products">
  <h4 style="text-align:center;">My Art for Sale</h4><hr/>

    <!-- to be hidden if the user is owner of any products -->
    <% if (sellersProducts.length < 1 || sellersProducts==undefined) { %>
      <h5>You have no art for sale yet. 🤷 </h5>

      <!-- to be hidden if user has no products -->
      <% } else { %>
        <div class="container">
          <div class="row"></div>
          <% for (let product of sellersProducts) { if (!product.is_deleted) { %>

            <div class="col 14 m4 s12">
              <div class="card">

                <div class="card-image">
                  <img src="<%= product.link_to_pic %>" class="materialboxed">
                  <span class="card-title">
                    <%= product.name %>
                  </span>
                  <a class="btn btn-floating halfway-fab"><i class="fa-solid fa-bars"></i></a>
                </div>

                <div class="card-content">
                  <p>
                    <%= product.description %>
                  </p>
                  <p>
                    <%= (product.price_in_cents/100).toLocaleString("en-US", {style:"currency", currency:"USD"}) %>
                  </p>
                  <p><a href="/auth/login">This is a link to the Indv item</a></p>
                </div>

              </div>
            </div>
          <% }} %>
          </div>
        </div>
      <% } %>

  </div>

  <div class="profile_bottom">
    <a href="/add-item" class="waves-effect waves-light btn-large"><i class="material-icons right"><i
          class="fa-regular fa-image"></i></i>Add Art to Sell</a>
  </div>

  <!-- <script>
    document.addEventListener("DOMContentLoaded", function(){
      const gallery = document.querySelectorALL(".materialboxed");
      M.Materialbox.init(gallery,{})
    })
  </script> -->

</body>

</html>
